<div class="text-align:center">
  <h1>Welcome to {{title}}</h1>
</div>

<ul class="list-group">
  <!-- <app-film [filmName]="'Jurrasic Park'" [filmOnAir]="'Blue Ray'" [filmAffiche]="'https://upload.wikimedia.org/wikipedia/fr/thumb/6/6a/Jurassic_Park_logo.svg/1200px-Jurassic_Park_logo.svg.png'"></app-film>
  <app-film [filmName]="'Star Wars'" [filmOnAir]="'Blue Ray'" [filmAffiche]="'https://upload.wikimedia.org/wikipedia/commons/thumb/6/6c/Star_Wars_Logo.svg/langfr-220px-Star_Wars_Logo.svg.png'"></app-film>
  <app-film [filmName]="'Dune'" [filmOnAir]="'En Salle'" [filmAffiche]="'https://upload.wikimedia.org/wikipedia/en/thumb/8/8e/Dune_%282021_film%29.jpg/220px-Dune_%282021_film%29.jpg'"></app-film> -->
    <app-film *ngFor="let film of films; let i = index" [filmName]="film.title" [filmOnAir]="film.onAir" [filmAffiche]="film.filmAffiche" [index] = "i"></app-film>
</ul>

<button class="btn btn-outline-success" (click)="onAirAll()">En Salle</button>
<button class="btn btn-outline-danger" (click)="noOnAirAll()">Pas En Salle</button>